<% include ../pages/partials/head %>

<script>

	var checked = false;

	function ecouteur( ) {
		$(".btn-default").click(changeActif);

		$('form').submit(function () {
			if (!checked) {
				return false;
			}
		});
	}

	function changeActif() {
		$(".btn-default").removeClass("active");
		$(this).addClass("active");
		$("#answer").val($(this).text());

		checked = true;
	}

	$(window).on('beforeunload', function(){
    	return;
	});

	$( document ).ready(ecouteur)
</script>

<div id="page-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<div class="jumbotron">
					<h1>Question <%= number %> !</h1>
					<p><%= question.question %> </p>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default"><%= question.reponse1 %></button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default"><%= question.reponse2 %></button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default"><%= question.reponse3 %></button>
						</div>
					</div>
					<br/>
					<p class="text-center">
						<form action="/answer" method="POST" class="text-center">
							<input type="hidden" id="uid" name="uid" value="<%= uid %>">
							<input type="hidden" id="answer" name="answer">
							<button class="btn btn-primary btn-lg" type="submit">
								Valider <i class="fa fa-check" aria-hidden="true"></i>
							</button>
						</form>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../pages/partials/footer %>